body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}
.btn-login {
  font-size: 1.9rem;
  letter-spacing: 0.05rem;
  padding: 2.75rem 1rem;
  margin-left: 100px;
  justify-content: end;
}